*,
*::before,
*::after {
    margin:auto;
    padding:auto;
    height:auto;
    width: auto;
    box-sizing: border-box;
    /*    border: 1.5px solid red;  */
   
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px)
and (min-device-height: 700px)
and (max-device-height: 1000px)
{
/* Styles */

.ul-nav {
    flex-flow: column;
}
.ul-projects {
    flex-flow: column;
}

}

header {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1)

}


body {
    font-size: 1em;

}
footer {
    margin:0em;
    padding:0em;
    border-radius: .50em;
}
h1 {
    color: red;
    font-size: 2em;
    display:flex;
    justify-content: center;

}
h2 {
    color:orange;
    font-size: 1.75em;
    display: flex;
    justify-content: center;
}

button {
    background-color: white;
    height: 2em;
    width:4em;
    font-size: x-large;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: .75em;
    transition: 0.3s ease-in-out;
}

button:hover {
    background-color: darkgray;
    width: 4.5em;

    
}

.ul-nav {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding:1rem;
    margin:1rem;
    font-size: 1.5em;
    background-color: lightsteelblue;
    border-radius: .50em;
}

.ul-projects {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    margin: 1rem;
    
}


a {
    color: black;
}

img {
    width: 250px;
    height: 200px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    border-radius: .50em;

}

img:hover {
    width: 300px;
    height: 250px;
}